.estiloborder{
    border-color: #880f0f;
}
.containerlogin{
    width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto
}
.card{
    position:relative;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-direction:column;
    flex-direction:column;
    min-width:0;
    word-wrap:break-word;
    background-color:#fff;
    background-clip:border-box;
    border:1px solid #c52d2f;
    border-radius:.25rem
}
.containererror{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    height: 400px;
    margin-left: auto;
}
.card-login {
  max-width: 30rem;
}
.card-register {
  max-width: 40rem; 
}
.card-header{
    padding:.75rem 1.25rem;
    margin-bottom:0;
    background-color:rgba(0,0,0,.03);
    border-bottom:1px solid #c52d2f
}
.card-header:first-child{
    border-radius:calc(.25rem - 1px) calc(.25rem - 1px) 0 0
}
.card-header+.list-group .list-group-item:first-child{
    border-top:0
}
.card-body{
    -ms-flex:1 1 auto;flex:1 1 auto;
    padding:1.25rem
}
.d-block{
    display:block!important
}
.form-group{
    margin-bottom:1rem
}
.form-control{
    display:block;
    width:100%;
    padding:.375rem .75rem;
    font-size:1rem;
    line-height:1.5;
    color:#495057;
    background-color:#fff;
    background-image:none;
    background-clip:padding-box;
    border:1px solid #880f0f;
    border-radius:.25rem;
    transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s
}
.form-row{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin-right:-5px;
    margin-left:-5px
}
.form-row>.col,.form-row>[class*=col-]{
    padding-right:5px;padding-left:5px
}
.form-check{
    position:relative;display:block;margin-bottom:.5rem
}
.form-check.disabled .form-check-label{
    color:#868e96
}
.form-check-label{
    padding-left:1.25rem;
    margin-bottom:0
}
.form-check-input{
    position:absolute;
    margin-top:.25rem;
    margin-left:-1.25rem
}

.small,small{
    font-size:80%;
    font-weight:400
}
@media (min-width:576px){
    .d-sm-block{
        display:block!important
    }
}
@media (min-width:768px){
    .d-md-block{
        display:block!important
    }
}
@media (min-width:992px){
    .d-lg-block{
        display:block!important
    }
}
@media (min-width:1200px){
    .d-xl-block{
        display:block!important
    }
}
.d-print-block{
    display:none!important
}
@media print{
    .d-print-block{
        display:block!important
    }
}

.mt-3,.my-3{
    margin-top:1rem!important
}
.mt-4,.my-4{
    margin-top:2rem!important
}
.mt-5,.my-5{
    margin-top:3rem!important
}
.mr-5,.mx-5{
    margin-right:3rem!important
}
.mb-5,.my-5{
    margin-bottom:3rem!important
}
.mr-auto,.mx-auto{
    margin-right:auto!important
}
.ml-auto,.mx-auto{
    margin-left:auto!important
}
@media (min-width:576px){
    .mt-sm-3,.my-sm-3{
        margin-top:1rem!important
    }
    .mt-sm-4,.my-sm-4{
        margin-top:2rem!important
    }
    .mt-sm-5,.my-sm-5{
        margin-top:3rem!important
    }
    .mr-sm-5,.mx-sm-5{
        margin-right:3rem!important
    }
    .mb-sm-5,.my-sm-5{
        margin-bottom:3rem!important
    }
    .mr-sm-auto,.mx-sm-auto{
        margin-right:auto!important
    }
    .ml-sm-auto,.mx-sm-auto{
        margin-left:auto!important
    }
}
@media (min-width:768px){
    .mt-md-3,.my-md-3{
        margin-top:1rem!important
    }
    .mt-md-4,.my-md-4{
        margin-top:2rem!important
    }
    .mt-md-5,.my-md-5{
        margin-top:3rem!important
    }
    .mr-md-5,.mx-md-5{
        margin-right:3rem!important
    }
    .mb-md-5,.my-md-5{
        margin-bottom:3rem!important
    }
    .mr-md-auto,.mx-md-auto{
        margin-right:auto!important
    }
    .ml-md-auto,.mx-md-auto{
        margin-left:auto!important
    }
}
@media (min-width:992px){
    .mt-lg-3,.my-lg-3{
        margin-top:1rem!important
    }
    .mt-lg-4,.my-lg-4{
        margin-top:2rem!important
    }
    .mt-lg-5,.my-lg-5{
        margin-top:3rem!important
    }
    .mr-lg-5,.mx-lg-5{
        margin-right:3rem!important
    }
    .mb-lg-5,.my-lg-5{
        margin-bottom:3rem!important
    }
    .mr-lg-auto,.mx-lg-auto{
        margin-right:auto!important
    }
    .ml-lg-auto,.mx-lg-auto{
        margin-left:auto!important
    }
}
@media (min-width:1200px){
    .mt-xl-3,.my-xl-3{
        margin-top:1rem!important
    }
    .mt-xl-4,.my-xl-4{
        margin-top:2rem!important
    }
    .mt-xl-5,.my-xl-5{
        margin-top:3rem!important
    }
    .mr-xl-5,.mx-xl-5{
        margin-right:3rem!important
    }
    .mb-xl-5,.my-xl-5{
        margin-bottom:3rem!important
    }
    .mr-xl-auto,.mx-xl-auto{
        margin-right:auto!important
    }
    .ml-xl-auto,.mx-xl-auto{
        margin-left:auto!important
    }
}
.text-justify{
    text-align:justify!important
}
.text-left{
    text-align:left!important
}
.text-right{
    text-align:right!important
}
.text-center{
    text-align:center!important
}
@media (min-width:576px){
    .containerlogin{
        max-width:540px;
    }
}
@media (min-width:768px){
    .containerlogin{
        max-width:720px
    }
}
@media (min-width:992px){
    .containerlogin{
        max-width:960px
    }
}
@media (min-width:1200px){
    .containerlogin{
        max-width:1140px
    }
}
@media (min-width:576px){
    .d-sm-block{
        display:block!important
    }
}
@media (min-width:768px){
    .d-md-block{
        display:block!important
    }
}
@media (min-width:992px){
    .d-lg-block{
        display:block!important
    }
}
@media (min-width:1200px){
    .d-xl-block{
        display:block!important
    }
}
.d-print-block{
    display:none!important
}
@media print{
    .d-print-block{
        display:block!important
    }
}